coverage>=7.0.0           
codecov>=2.1.11           
cvxpy
numba
numpy
matplotlib
pandas
pylint
pytest>=7.0.0             
flake8>=4.0.0             
scikit-learn
scipy
sphinx>=4.0.0             
sphinx_rtd_theme>=1.0.0   
statsmodels
